/* flexbox styles */

.flexbox {
    display: flex;
}


.fleft {
    width: 50%;
    margin: 20px;
}

.fright {
    width: 50%;
    margin: 20px;
}

.flexwid40 {
    width: 40%;
}

.flexwid60 {
    width: 60%;
}

.flexwid45 {
    width: 45%;
}

.flexwid55 {
    width: 55%;
}


.dflexfdcjustcent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}











/* expanding text styles */
.expaning-text-cnt {
    margin-bottom: 2px;
}

.exp-txt-side-head {
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    position: relative;
}

.exp-txt-side-head::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45px;
    background-image: url(assets/expand-button.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease;
}

.exp-txt-side-head.rotate::after {
    transform: rotate(180deg);
}

.exp-txt-cntnt {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    box-sizing: border-box;
    padding: 0 12px;
}

.exp-txt-cntnt.show {
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* .exp-txt-side-head-operators {
    position: sticky;
    top: 64px;
    background: var(--clr-white-body);
}

.exp-txt-cntnt-operators {
    transition: all .3s ease;
}

.exp-txt-cntnt-operators.show {
    max-height: unset;
    transition: all 10s ease;
} */






/* code box styles */
.code {
    padding: 12px;
    border-radius: 0 0 8px 8px;
    position: relative;
    margin-top: calc(24px + 12px);
    margin-bottom: 12px;
    background: black;
    color: white;
    font-size: 14px;
    line-height: 2em;
    box-shadow: 0 0 12px -6px;
    user-select: all;
}

.code::before {
    content: 'Javascript';
    background: var(--clr-code-head);
    position: absolute;
    width: 100%;
    left: 0;
    top: -32px;
    height: 24px;
    border-radius: 8px 8px 0 0;
    color: var(--clr-code-head-txt);
    font-size: 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 0;
    padding-left: 12px;
}

.token {
    user-select: all;
}

.codered {
    color: var(--clr-codered-txt);
    font-weight: normal;
    display: inline;
    user-select: all;
}

.codeblue {
    color: var(--clr-codeblue-txt);
    font-weight: normal;
    display: inline;
    user-select: all;
}

.codegreen {
    color: var(--clr-codegreen-txt);
    font-weight: normal;
    display: inline;
    user-select: all;
}

.code-cmnt {
    color: var(--clr-code-head-txt);
    font-style: italic;
    font-weight: normal;
    display: inline;
    user-select: all;
}

.code-cmnt::before {
    content: '//';
}

.codecmnt {
    color: var(--clr-code-head-txt);
    font-style: italic;
    font-weight: normal;
    display: inline;
}

.codemleft {
    margin-left: 24px;
}


:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: transparent !important;
    user-select: all !important;
}

.language-javascript .keyword {
    color: var(--clr-codeblue-txt);
    text-shadow: none !important;
    user-select: all !important;
}

.language-javascript {
    text-shadow: none !important;
    color: white !important;
    padding: 0 !important;
    margin: 0 !important;
    user-select: all !important;
}

.language-javascript .operator {
    text-shadow: none !important;
    background: unset !important;
    user-select: all !important;
}

.language-javascript .keyword {
    color: var(--clr-codeblue-txt) !important;
    user-select: all !important;
}

.language-javascript .number,
.language-javascript .boolean {
    color: var(--clr-codered-txt) !important;
    user-select: all !important;
}

.language-javascript .string {
    color: var(--clr-codegreen-txt) !important;
    user-select: all !important;
}







/* ul styles */

/* .ulist {} */

.ul-title {
    font-weight: bold;
}

ul li {
    margin-left: 20px;
}


.list-navigators {
    margin: 2px;
    padding: 4px;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.list-navigators a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.list-navigators::after {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    /* top: auto; */
    right: 6px;
    background: url(assets/expand-button.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    border: 1px solid;
    border-radius: 50%;
}



















@media screen and (max-width:550px) {
    .flexbox {
        display: flex;
        flex-direction: column;
    }

    .flexbox-fd-clm-rev {
        display: flex;
        flex-direction: column-reverse;
    }

    .fleft,
    .fright {
        width: unset;
        padding: 0;
        margin: 12px 0;
    }

    .header-main-sidebar {
        width: 240px;
    }

    .profileEditInputsBox {
        margin: auto;
        width: 85%;
    }

    .dataTypesCnt {
        margin: 0;
    }

    .width80percent {
        width: unset;
    }
}


@media screen and (max-width:300px) {
    main {
        display: none;
    }

    .header-sidebar-cnt {
        display: none;
    }
}