:root {
    --ffoswald: "Oswald", sans-serif;
    --ffpoppins: "Poppins", sans-serif;
    --ffroboto: "Roboto", sans-serif;


    --js-yellow: #F7DF1E;
    --clr-white: white;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}



svg {
    height: 35px;
    width: 35px;
}

img {
    width: 100%;
}

body {
    font-family: var(--ffpoppins);
    background: var(--clr-white);
}

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    animation: header-bg linear;
    animation-timeline: scroll();

    z-index: 10;
}

@keyframes header-bg {
    1% {
        backdrop-filter: blur(3px);
        background: white;
    }

    100% {
        backdrop-filter: blur(3px);
        background: white;
    }
}

.header-logo-cnt {
    height: 64px;
    width: 64px;
    padding: 12px;
    display: grid;
    place-content: center;
}

.header-logo-cnt a {
    display: grid;
    place-content: center;
}

.header-logo-cnt img {
    width: 40px;
}

.header-menu-icon {
    height: 64px;
    width: 64px;
    display: grid;
    place-content: center;
    z-index: inherit;
    opacity: 1;
    transition: all .3s ease;
}

.header-menu-icon svg {
    height: 47px;
    width: 47px;
    padding: 12px;
    cursor: pointer;
}

.header-sidebar-cnt {
    background: rgba(0, 0, 0, 0.701);
    height: 100vh;
    width: 100%;
    position: fixed;
    visibility: hidden;
    overflow-x: hidden;
}

.header-main-sidebar {
    height: 100%;
    width: 280px;
    float: right;
    transform: translate(280px);
    transition: all .3s ease;
    background: var(--clr-white);
}

.close-icon-cnt {
    height: 64px;
    width: 64px;
    float: right;
    display: grid;
    place-content: center;
}

.close-icon-cnt svg {
    height: 47px;
    width: 47px;
    padding: 12px;
    cursor: pointer;
}

section {
    padding: 12px;
}

.main-title {
    font-size: 3em;
    text-align: center;
}

.sec-head {
    height: 64px;
    display: grid;
    place-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: fit-content;
    margin: auto;


    animation: sec-head-font linear;
    animation-timeline: view();
    animation-range-start: 90vh;
}

@keyframes sec-head-font {
    10% {
        font-size: .85em;
        margin-right: 64px;
    }

    100% {
        font-size: .85em;
        margin-right: 64px;
    }
}

.flexbox {
    display: flex;
}

.fleft {
    width: 40%;
    padding: 50px;
}

.fright {
    width: 60%;
    padding: 50px;
}

.expaning-text-cnt {
    margin-bottom: 2px;
}

.exp-txt-side-head {
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    position: relative;
}

.exp-txt-side-head::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45px;
    background-image: url(assets/expand-button.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease;
}

.exp-txt-side-head.rotate::after {
    transform: rotate(180deg);
}

.exp-txt-cntnt {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    box-sizing: border-box;
    padding: 0 12px;
}

.exp-txt-cntnt.show {
    max-height: 200px;
    /* Adjust this value based on your content */
}

@media screen and (max-width:550px) {
    .flexbox {
        display: flex;
        flex-direction: column-reverse;
    }

    .fleft,
    .fright {
        width: unset;
        padding: 0;
    }
}