:root {
    --ffoswald: "Oswald", sans-serif;
    --ffpoppins: "Poppins", sans-serif;
    --ffroboto: "Roboto", sans-serif;


    --js-yellow: #F7DF1E;


    --clr-white: white;
    --clr-black: black;
    --clr-white-body: white;
    --clr-red: red;


    --clr-code-head: #2F2F2F;
    --clr-code-head-txt: #B4B4B4;
    --clr-codered-txt: #f22c3d;
    --clr-codeblue-txt: #2e95d3;
    --clr-codegreen-txt: #00a67d;





    --glassy-bg-clr: rgba(0, 0, 0, 0.1);




}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: text;
}



svg {
    height: 35px;
    width: 35px;
    fill: var(--clr-black);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

.mixbm {
    mix-blend-mode: hard-light;
}

h3 {
    color: coral;
    margin: 12px 0;
}

p {
    margin: 8px 0;
}

.imp {
    color: var(--clr-red);
}






body {
    font-family: var(--ffpoppins);
    background: var(--clr-white-body);
    color: var(--clr-black);
    transition: color 0.5s ease, background-color 0.5s ease;
    max-width: 1800px;
    margin: auto;
}

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: var(--clr-white);

    z-index: 10;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.header-logo-cnt {
    height: 64px;
    width: 64px;
    padding: 12px;
    display: grid;
    place-content: center;
}

.header-logo-cnt a {
    display: grid;
    place-content: center;
}

.header-logo-cnt img {
    width: 40px;
}

.header-menu-icon {
    height: 64px;
    width: 64px;
    display: grid;
    place-content: center;
    z-index: inherit;
    opacity: 1;
    transition: all .3s ease;
}

.header-menu-icon svg {
    height: 47px;
    width: 47px;
    padding: 12px;
    cursor: pointer;
}

.header-sidebar-cnt {
    background: rgba(0, 0, 0, 0.701);
    height: 100vh;
    width: 100%;
    position: fixed;
    visibility: hidden;
    overflow-x: hidden;
}

.header-main-sidebar {
    height: 100%;
    width: 280px;
    float: right;
    transform: translate(280px);
    transition: all .3s ease;
    background: var(--clr-white);
}

.close-icon-cnt {
    height: 64px;
    width: 64px;
    display: grid;
    place-content: center;
    margin-left: auto;
}

.close-icon-cnt svg {
    height: 47px;
    width: 47px;
    padding: 12px;
    cursor: pointer;
}

.nav-navigators {
    padding: 12px;
}

.nav-ancr {
    padding: 8px;
    display: block;
    margin-bottom: 12px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 35px;
    border-radius: 6px;
    background: var(--glassy-bg-clr);
    transition: all .2s ease;
}

.nav-ancr:hover {
    background: var(--js-yellow);
    color: black;
}



/* .nav-ancr::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 35px;
    left: 0;
    top: 0;
    background-image: url(assets/icons8-open-book.gif);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
} */


















section {
    padding: 12px;
}

.main-title {
    font-size: 3em;
    text-align: center;
}

.sec-head {
    height: 64px;
    display: grid;
    place-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: fit-content;
    margin: auto;


    animation: sec-head-font linear;
    animation-timeline: view();
    animation-range-start: 100vh;
}

@keyframes sec-head-font {
    10% {
        font-size: .85em;
        margin-right: 40px;
    }

    100% {
        font-size: .85em;
        margin-right: 40px;
    }
}























.footer-cnt {
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateY(114px);
    transition: all .3s ease;

    width: fit-content;
    right: 6px;
}

.footer-cnt:hover {
    transform: translate(0);
    border-radius: 40px 40px 0 0;
    backdrop-filter: blur(40px);
    background: var(--glassy-bg-clr);
}

.footer-heading {
    width: fit-content;
    padding: 12px;
    margin: 12px auto;
    display: grid;
    place-content: center;

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--js-yellow);
}

.footer-heading img {
    width: 20px;
    transition: all .3s ease;
    transform: rotate(180deg);
}

.footer-cnt:hover img {
    transform: rotate(360deg);
}

.footer-stng-cnt {
    padding: 12px;
}

.theme-changer {
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: grid;
    place-content: center;
    margin-bottom: 12px;
}


.notes-cnt a {
    width: 45px;
    height: 45px;
    display: grid;
    place-content: center;
}
